
.zones{
    width: 60%;
    overflow: none;
}
.zone{
    width: 30%;
    border-color: #ff0055;
    border-style:solid;
    border-radius: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header div img{
    width: 20%;
}
div main div div div img{
    width: 70%;
}
aside img{
    width: 2%;
}
.textcolorred{
    color: #ff0055;
    font-family: Arial, Helvetica, sans-serif;
}
.textcolorwhite{
    color: white;
}
nav{
    background-color: #ff0055;
}
nav ul{
    list-style: none;
}
footer{
    background-color: #ff0055;
    text-align: center;
    height: 5em;
}
